@import "bootstrap";

.navbar {
  background-color: #42b587;
  background-image: linear-gradient(56deg, #2fa89e, #42b587);
  color: #fff;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  position: relative;
}

.navbar-brand {
  color: #white;
}